.container {
    display: grid;
    background-image: url("./../ucl.jpg");
    height: 100vh;
    width: 100vw !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }
.group-container{
  background-color: darkblue;
  border-radius: 30px;
  height: 80vh;
  width: 100vh;
  align-self: center;
}

.group{
  display: grid;
  justify-content: center;
}
